blinker
discord.py[voice]
gTTS
git+https://github.com/mps-youtube/pafy#egg=pafy
PyNaCl
python-dotenv
python-i18n [YAML]
requests
git+https://github.com/ytdl-org/youtube-dl#egg=youtube-dl
youtube-search
