[Unit]
Description=Riffbot - Discord Music Bot

[Service]
ExecStart={VENV_PATH}/bin/python3 -m {PROJECT_ROOT}/src/__main__.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
{USER_DIRECTIVE}
[Install]
WantedBy=default.target
